@model MvcFirst.Models.Review

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CamaOriginKey" class="control-label"></label>
                <input asp-for="CamaOriginKey" class="form-control" />
                <span asp-validation-for="CamaOriginKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CamaOriginParcelNo" class="control-label"></label>
                <input asp-for="CamaOriginParcelNo" class="form-control" />
                <span asp-validation-for="CamaOriginParcelNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignedAt" class="control-label"></label>
                <input asp-for="AssignedAt" class="form-control" />
                <span asp-validation-for="AssignedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompletedAt" class="control-label"></label>
                <input asp-for="CompletedAt" class="form-control" />
                <span asp-validation-for="CompletedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="County" class="control-label"></label>
                <input asp-for="County" class="form-control" />
                <span asp-validation-for="County" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CamaSystemId" class="control-label"></label>
                <select asp-for="CamaSystemId" class ="form-control" asp-items="ViewBag.CamaSystemId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
